@model List<LavorazioneTicket>;
<div class="container mt-3" id="_LavorazioniPerTicket">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-secondary" onclick="closeTable()" style="margin-bottom: 0px;">Chiudi Tabella</button>
            <div class="table-responsive rounded border p-3" style="border-radius: 9px;">
                <table class="table table-striped">
                    <thead class="bg-success text-white">
                        <tr>
                            <th scope="col">Data Presa Incarico</th>
                            <th scope="col">Ora Presa Incarico</th>
                            <th scope="col">Utente</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var lavorazione in Model)
                        {
                            <tr>
                                <td>@lavorazione.Data_presa_incarico.ToString("dd/MM/yyyy")</td>
                                <td>@lavorazione.Ora_presa_incarico</td>
                                <td>@lavorazione?.User?.Nome @lavorazione?.User?.Cognome</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function closeTable() {
        $('#_LavorazioniPerTicket').remove();
        $('#modalContainer').html('');

        // Sposta la pagina in alto
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    }
</script>


