@model IEnumerable<gestione_ticket_final.Models.TipologiaProdotto>
@using System.Security.Claims

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@{
    var currentUser = User.Identity as ClaimsIdentity;
    @if (currentUser != null && currentUser.IsAuthenticated)
    {
        var userRuolo = currentUser.FindFirst("Ruolo");
        if (userRuolo != null)
        {
            if (userRuolo.Value == "Tecnico")
            {
                <p>
                    <a asp-action="Create">Create New</a>
                </p>
            }
        }
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descrizione)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id_tipologia_prodotto">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id_tipologia_prodotto">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id_tipologia_prodotto">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
